/* text align */
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}

/* layout */
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.full {
  height: 100%; width: 100%;
}
.non-padding {
  padding: 0;
}

.inline {
  display: inline-block;
}
.inline-mid {
  display: inline-block;
  vertical-align: middle;
}
.border-box {
  box-sizing: border-box;
}

/* font */
.fs20 {
  font-size: 20px !important;
}
.fs16 {
  font-size: 16px !important;
}
.fs14 {
  font-size: 14px !important;
}
.fs12 {
  font-size: 12px !important;
}

/* Cursor */
.cursor-pointer {
  cursor: pointer;
}
.cursor-default {
  cursor: default;
}

/* fixed padding */
.fixed-position {
  position: fixed !important;
}
.fix-left-column-wrapper {
  position: relative;
  padding-left: 100px;
}
.fix-left-column {
  position: absolute;
  width: 100px;
  top: 0;
  left: 0;
}

.fix-top-row-wrapper {
  height: 100%;
  position: relative;
  padding-top: 30px;
}
.fix-top-row {
  position: absolute;
  top: 0; left: 0;
  height: 30px;
  width: 100%;
  overflow: hidden;
}

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Override Default Bootstrap Layout */
body {
  letter-spacing: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.8;
  color: #333333;
  background: #f5f5f5;
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container-fluid {
  padding: 0;
}
.row {
  margin: 0;
}
